@inherits LayoutComponentBase

<div class="rr-app">
    <NavMenu />
    <main class="rr-main">
        <div class="rr-content">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
